@model WhatToEat.Models.ViewModels.Diary.DiaryVM

    <div class="ajaxcart" style="color:white;">
        Calories Consumed: @Model.Quantity  - @Model.Calorie
        <br />
        @Html.ActionLink("Checkout", "Index")
    </div>