@model IEnumerable<WhatToEat.Models.ViewModels.Eatery.CategoryVM>

<h3>Categories</h3>

<ul>
    @foreach (var item in Model)
    {
       <li><a href="/eatery/category/@item.Slug.ToLower()">@item.Name</a></li>
    }


</ul>






